
<tr>
    <th scope="col"><%= activity.date.strftime("%D %r") %></th>
    <th scope="col"><%= activity.category.humanize %></th>
    <th scope="col"><%= format_duration(activity.duration) if activity.duration.present? %></th>
    <th scope="col"><%= activity.distance %> <%= activity.unit %></th>
    <th scope="col"><%= activity.difficulty.try(:humanize) %></th>
    <th scope="col"><%= format_duration(activity.calculated_pace) if activity.calculated_pace.present? %></th>
    <th scope="col">
        <div class="btn-group">
            <%= link_to "Edit", edit_activity_path(activity), class: "btn btn-sm btn-outline-primary" %>
            <%= link_to "View", activity_path(activity), class: "btn btn-sm btn-outline-primary" %>
        </div>
    </th>
</tr>