<%= form_with model: @activity, local: true do |f| %>
    <%= render partial: "shared/form_errors", locals: { f: f } %>
    <div class="form-group">
        <%= f.label :date %>
        <%= f.datetime_field :date, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :category %>
        <%= f.collection_select :category, Activity.categories.keys.map{ |activity| [activity, activity.humanize] }, :first, :second, {}, class: "custom-select" %>
    </div>
    <div class="form-group">
        <%= f.label :difficulty %>
        <%= f.collection_select :difficulty, Activity.difficulties.keys.map{ |activity| [activity, activity.humanize] }, :first, :second, {}, class: "custom-select" %>
    </div>
    <div class="form-group">
        <%= f.label :unit %>
        <%= f.collection_select :unit, Activity.units.keys.map{ |activity| [activity, activity.humanize] }, :first, :second, { prompt: true }, class: "custom-select" %>
    </div>        
    <div class="form-group">
        <%= f.label :duration %>
        <%= f.number_field :duration, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.submit %>
    </div>
<% end %>