<%= form_with model: @activity, local: true, class: "shadow-sm p-3 rounded-sm border mb-5" do |f| %>
    <%= render partial: "shared/form_errors", locals: { object: f.object } %>
    <div class="form-row">
        <div class="col-auto form-group">
            <%= f.label :date %>
            <%= f.datetime_field :date, class: "form-control" %>
        </div>
        <div class="col-auto form-group">
            <%= f.label :category %>
            <%= f.collection_select :category, Activity.categories.keys.map{ |activity| [activity, activity.humanize] }, :first, :second, {}, class: "custom-select" %>
        </div>
        <div class="col-auto form-group">
            <%= f.label :difficulty %>
            <%= f.collection_select :difficulty, Activity.difficulties.keys.map{ |activity| [activity, activity.humanize] }, :first, :second, {}, class: "custom-select" %>
        </div>
        <div class="col-auto form-group">
            <%= f.label :shoe_id, "Shoe" %>
            <% if f.object.persisted? %>
                <%= f.collection_select :shoe_id, current_user.shoes.alphabetized, :id, :name_with_miles, { prompt: true }, class: "custom-select" %>
            <% else %>
                <%= f.collection_select :shoe_id, current_user.shoes.available.alphabetized, :id, :name_with_miles, { prompt: true }, class: "custom-select" %>
            <% end %>
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#shoeFormModal">
                Add Shoe
            </button>
        </div>        
    </div>
    <div class="form-row">
        <div class="col-auto form-group">
            <%= f.label :distance %>
            <%= f.number_field :distance, step: 0.01, class: "form-control" %>
        </div>     
        <div class="col-auto form-group">
            <%= f.label :unit %>
            <%= f.collection_select :unit, Activity.units.keys.map{ |activity| [activity, activity.humanize] }, :first, :second, { prompt: true }, class: "custom-select" %>
        </div>      
        <div class="col-auto form-group">
            <%= f.label :hours %>
            <%= f.number_field :hours, min: 0, step: 1, class: "form-control" %>
        </div>
        <div class="col-auto form-group">
            <%= f.label :minutes %>
            <%= f.number_field :minutes, min: 0, max: 59, step: 1, class: "form-control" %>
        </div>
        <div class="col-auto form-group">
            <%= f.label :seconds %>
            <%= f.number_field :seconds, min: 0, max: 59, step: 1, class: "form-control" %>
        </div>
    </div>
    <div class="form-group">
        <%= f.rich_text_area :description, class: "form-control"%>
    </div>
    <div class="form-group">
        <div class="btn-group" role="group" aria-label="Form Actions">
            <%= f.submit class: "btn btn-primary" %>
            <%= link_to "Delete", activity_path(@activity), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" if @activity.persisted? %>
        </div>
    </div>
    <%= link_to "Back", :back %>
<% end %>

<div class="modal fade" id="shoeFormModal" tabindex="-1" aria-labelledby="shoeFormModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shoeFormModalLabel">Add a shoe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with model: @shoe, id: dom_id(@shoe), remote: true do |f| %>
            <%= render partial: "shared/form_errors", locals: { object: f.object } %>
            <%= render partial: "shoes/form_fields", locals: { f: f } %>
            <div class="form-group">
                <div class="btn-group" role="group" aria-label="Form Actions">
                    <%= f.submit class: "btn btn-primary" %>
                </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>