<%= search_form_for @q, class: "shadow-sm p-3 rounded-sm border mb-5" do |f| %>
    <div class="form-row justify-content-between">
        <div class="col-auto form-group">
            <%= f.label :difficulty_eq, "Difficuly" %>
            <%= f.collection_select :difficulty_eq, Activity.difficulties.keys.each_with_index.map{ |activity,index| [index, activity.humanize]  }, :first, :second, {prompt: true}, class: "custom-select" %>
        </div>
        <div class="col-auto form-group">
            <%= f.label :category_eq, "Category" %>
            <%= f.collection_select :category_eq, Activity.categories.keys.each_with_index.map{ |activity,index| [index, activity.humanize]  }, :first, :second, {prompt: true}, class: "custom-select" %>
        </div>
        <div class="form-group">
            <%= f.label :date_lteq %>
            <%= f.date_field :date_lteq, class: "form-control" %>
        </div> 
        <div class="form-group">
            <%= f.label :date_gteq %>
            <%= f.date_field :date_gteq, class: "form-control" %>
        </div>          
    </div>
    <div class="form-group">
        <%= f.label :action_text_rich_text_body_cont, "Description includes" %>
        <%= f.search_field :action_text_rich_text_body_cont, class: "form-control" %>
    </div>                  
    <div class="form-group">
        <div class="btn-group" role="group" aria-label="Form Actions">
            <%= f.submit class: "btn btn-primary" %>
            <%= link_to "Reset", activities_path, class: "btn btn-outline-primary" %>
        </div>
    </div>
<% end %>