<!DOCTYPE html>
<html>
  <head>
    <title>Stridecatcher</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "shared/navbar" %>
    <main class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= link_to "Create an Account", new_user_registration_path unless current_user %>
      <%= link_to "Sign In", new_user_session_path unless current_user %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete if current_user %>
      <%= yield %>
    </main>
  </body>
</html>
